@charset "UTF-8";
.clickable:hover{
	cursor:pointer;
	border-radius:3%;
	opacity:0.7;
	transition:0.4s;
}
.inner{
	margin: 0 auto!important;
}
#banner{
	position:relative;
	z-index:1;
}
#banner::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
#banner h1{
	font-weight:600!important;
    color: #FFF;
    z-index:3;
}
#banner p{
	font-weight:540!important;
	font-size:1.5em;
    color: rgb(205, 205, 205);
    z-index:3;
}
h2{
	font-weight:600!important;
}
h2+p{
	font-size:1.5em!important;
	font-weight:500;
}
h3{
	font-weight:500!important;
}
.best-port-filter{
	font-weight:500;
	font-size:2em!important;
	text-align:center;
	margin:0 30px;
	color:rgb(70, 130, 180);
}
.filter-disable{
	font-weight:400;
	color:lightgrey;
	cursor:default;
}
.filter-active{
	font-weight:650;
	color:#5385c1;
}
@media screen and (max-width:736px){
	.best-port-filter{
		margin:0 15px;
	}
}
@media screen and (max-width:436px){
	.best-port-filter{
		font-size:1.5em!important;
		margin:0 1%;
	}
}
.loading-list{
    height: 303px;
    padding: 5px;
    text-align: center;
    margin-top:5px;
    margin-bottom: 25px;
}
.loading-list:hover{
	cursor:wait;
}
.loading-list>img{
	height:100%;
	width:auto;
	margin:0 auto;
	
}
.best-portfolio-list{
	color:white;
	max-width:100%;
	margin:0 auto;
	display: block;
	text-align:center;
}
.best-portfolio-item{
	height:283px;
	display:inline-block;
	width:400px;
	max-width:100%;
	margin: 10px;
	background:#5385c1;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    position:relative;
    color:rgb(0, 0, 0);
}
.best-portfolio-item:hover{
	cursor:pointer;
	border-radius:2%;
	transition:0.3s;
	opacity:0.7;
}
.bp-img-wrapper{
	width: 100%;
	height:283px;
    max-height: 283px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    text-align: center;
    border-top: 0.5em solid #5385c1;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}
.bp-info-wrapper{
	position:absolute;
	display:none;
	width:100%!important;
	height:100%!important;
	background:rgba(255, 255, 255, 0.7);
	left:0;
	right:0;
	bottom:0;
	top:0;
	padding-top:15%;
}
.bp-info-wrapper img{
	display:inline-block!important;
}
.bp-writer-info{
	display:inline-block;
	height:40px;
	font-size:1em;
	line-height:40px;
	vertical-align:top;
}
.bp-info-writer-img{
	height:40px;
    border-radius: 25%;
    margin-right: 5px;
}
.bp-info-writer{
	font-weight:bold;
	margin-right:10px;
}
.bp-info-writer-job{
	font-weight:bold;
}
.bp-info-subject{
	font-weight:bold;
	font-size:1.5em;
	display:block;
	text-align:center;
    margin: 1em auto;
    vertical-align:top;
}
.bp-icon{
	height:30px;
	width:auto;
    margin: 0 5px;
}
.bp-count{
	height:40px;
	font-size:1em;
    margin-right: 5px;
    font-size: 18pt;
    line-height: 18pt;
    vertical-align:top;
}
#two footer{
	text-align:center;
}
#two footer a{
	height:auto;
	font-size: 16px;
    display: inline-block;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border: 0;
    border-radius: 3px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1.5px;
    word-break: keep-all;
    transition: .3s background ease-in-out;
    padding: 18px 32px 17px;
    margin:0 auto;
	margin-top:60px;
}
@media screen and (max-width: 480px){
	#two footer a{
		margin:0 auto;
	}
}
#three .main-features{
	
}
.main-features .feature{
	position:relative;
	display:inline-block;
	width:21%;
	padding:1.5em;
	margin:1%;
}
@media screen and (max-width: 980px){
	.main-features .feature{
	    width: 47%;
	}
}
@media screen and (max-width:580px){
	.main-features .feature:hover{
	    cursor:pointer;
	}
}
@media screen and (max-width: 480px){
	.main-features .feature{
	    width: 100%;
	}
}
.feature .feature-summary{
	width:100%;
	height:100%;
}
.feature-summary .feature-img{
	margin:1em;
}
.feature-img img{
	width:100%;
}
.feature-detail{
	display:none;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	z-index:100;
	background:rgba(255, 255, 255, 0.8);
	border-radius:5px;
	padding:20px;
	padding-top:calc(50% - 60px);
}
.feature-detail .feature-detail-menu{
	display:block;
	text-align:center;
	margin:10px auto;
	cursor:pointer;
	color: #FFFFFF;
	border:1px solid darkgrey;
	font-size:1.2em;
	margin:16px auto;
	background-color:#5385C1;
	border-radius:2px;
}
.feature-detail .feature-detail-menu:hover{
	background-color: rgb(50, 50, 50);
	opacity:0.8;
}