@charset "UTF-8";
/* 
	단위
	em : 최상위 속성에 값을 상속받아 %단위로 비례함 1.2 -> 120%
	rem : em하위에 em이 중첩되면 중첩이 누적되기 때문에 root로부터 계산할 수 있도록 함(일반적으로 html태그에 붙이는듯)
	vh, vw : fixed 조건에서 각 높,너비를 1/100로 표현
	vmin, vmax : 화면의 높,너비 값 중 min과 max
*/
.not-scroll{
	overflow:hidden;
}
/* 화면상에 절대 노출 시키지 않는 클래스*/
.never-show{
	position:fixed;
	width:0.1px;
	height:0.1px;
	right:-1;
	bottom:-1;
	display:none!important;
}
/* 모달 종료 */
.exit-modal{
	visibility:hidden;
	position:fixed;
	top:50px;
	left:10px;
	font-size:40px;
	font-weight:bold;
	color:white;
	z-index:999;
}
.exit-modal:hover{
	cursor:pointer;
	opacity:0.8;
	transition:0.3s;
}
.comment-show{
	visibility:hidden;
	position:fixed;
	bottom:20px;
	right:20px;
	z-index:999;
}
.comment-show:hover{
	cursor:pointer;
	opacity:0.8;
	transition:0.3s;
}
/* 전체 모달 관여 */
.portfolio-modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 100;
    overflow: hidden;
}
/* DETAIL SECTION */
#portfolio-detail-wrap{
	position:absolute;
	display:block;
	left:5%;
	top:100px;
	width:65%;
	height:60%;
	padding:1%;
	border:0;
	z-index: 101;
	background:#5385c1;
	border-radius:6% 0 0 0;
}
.portfolio-detail-container{
	width:100%;
	height:100%;
	background:lightgrey;
	z-index:102;
	border-radius:5% 0 0 0;
}
.portfolio-detail-header{
	width:100%;
	height:80px;
	background:white;
	z-index:103;
	border-radius:43% 0 0 0;
}
.detail-summary-floater{
	height:50%;
	margin-bottom:-20px;
}
.portfolio-detail-summary{
	z-index:104;
	clear:both;
	height:40px;
	position:relative;
}
.detail-summary-subject{
	font-size:1.5em;
	font-weight:600;
	color:black;
	z-index:105;
	float:left;
	margin:0 20px;
}
.summary-info{
	float:left;
	padding-top:10px;
	height:30px;
	position:relative;
}
.portfolio-detail-summary img{
	z-index:105;
	height:100%;
	margin:0 10px;
	float:left;
}
.portfolio-detail-summary img+span{
	font-weight:500;
	z-index:105;
	float:left;
	display:inline-block;
	margin:0;
	font-size:20px;
	line-height:20px;
}
.detail-summary-regidate{
	float:right;
	z-index:105;
	margin:0 10px;
	display:inline-block;
	font-size:1.5em;
	line-height:1.5em;
}
.portfolio-detail-project{
	z-index:104;
}
.port-slide-list{
	z-index:105;
	color:white;
	max-width:90%;
	margin:0 auto;
	display: inline-block;
}
.port-slide-item{
	z-index:106;
	max-width:100%;
	height:283px!important;
	margin: 10px;
	background:#5385c1;
}
.port-slide-item:hover{
	cursor:pointer;
	opacity:0.7;
	border-radius:2%;
	transition:0.3s;
}
/* 콘솔 활성 비활성 버튼 */
.drag-activity-menu{
	position: fixed;
    background: #5385c1;
    bottom: 45px;
    left: -119px;
    width: calc(119px + 60px);
    height: 60px;
    padding:3px;
    display:none;
    z-index:107;
    border:1px solid lightgrey;
    border-left:0;
    border-radius:0 25% 25% 0;
}
.drag-activity-menu:hover{
	cursor:pointer;
	opacity:0.7;
}
.drag-activity-menu img{
	height:100%;
	float:right;
}
/* 포트폴리오 추천, 스크랩, 피드백 콘솔 */
.portfolio-detail-activity{
	z-index:105;
	position:absolute;
	bottom:30px;
	width:100%;
	max-height:100px;
	text-align:center;
}
.icon-tail-fit{
	display:inline-block;
	width:100px;
	z-index:106;
}
.icon-tail-fit:hover{
	cursor:pointer;
	opacity:0.7;
	transition:0.3s;
}
.portfolio-detail-activity img{
	max-height:50px;
	z-index:107;
}
.portfolio-detail-activity span{
	height:30px;
	margin-top:10px;
	display:inline-block;
	font-weight:600;
	z-index:107;
}

#portfolio-info-wrap{
	z-index:105;
	position:absolute;
	display:block;
	right:5%;
	top:100px;
	padding: 1%;
    width:25%;
    min-width:150px;
    bottom:45px;
    border:0;
    overflow-y:scroll;
	background:#5385c1;
}
.portfolio-info-container{
	z-index:106;
	background-color:lightgrey;
	width:100%;
    height:100%;
}
/* FEEDBACK SECTION */
#portfolio-feedback-wrap{
	position:absolute;
	display:block;
	left:5%;
	bottom:45px;
	padding:1%;
	border:0;
	height:25%;
	width:65%;
	background:#5385c1;
	z-index:105;
}
.portfolio-feedback-container{
	width:100%;
	height:100%;
	background-color:lightgrey;
	z-index:106;
}
/* FEEDBACK 작성 폼 */
.feedback-write-container{
	display:none;
    background-color: white;
    border-radius: 0 0 30% 0;
}
.feed-writer-profile{
	margin-top:10px;
	display:inline-block;
	height:140px;
	width: calc(30% - 20px);
	text-align:center;
	float:left;
}
.feed-writer-profile-img{
	height:80px;
	margin:10px;
	clear:both;
}
.feed-writer-profile-nick{
	height:20px;
	display:inline-block;
	font-weight:1000;
	font-size:16px;
}
#FEED_CONTENT{
	float: right;
    height: 140px;
    width: calc(70% - 20px);
    margin-top: 10px;
    margin-right: 10px;
}
#FEED_CONTENT:focus{
	transition:0.4s;
	background:white;
}
.portfolio-feedback-container button{
	margin-top: 10px;
	margin-left: 10px;
}
.portfolio-feedback-container button:hover{
	outline:none!important;
	border-radius:2%;
	opacity:0.7;
	transition:0.3s;
}
/* FEEDBACK 헤더 */
.portfolio-feedback-header{
    width: 100%;
    height:50px;
    background: whitesmoke;
    padding: 0;
	padding-top:5px;
	display:block;
}
/* FEEDBACK 정보 */
.portfolio-feedback-info{
	height:100%;
	display:inline-block;
	float:left;
	text-align:left;
	width:auto;
}
.portfolio-feedback-info h2{
	font-weight:700;
	margin:0;
	margin-left:10px;
	display:inline-block;
}
.portfolio-feedback-info .portfolio-feedback-cnt{
	
}
/* FEEDBACK 필터 */
.portfolio-feedback-filter{
	height:100%;
	display:inline-block;
	float:right;
	text-align:right;
}
.portfolio-feedback-filter .select{
	width:auto;
	display:inline-block;
	border-radius:25%;
	text-align:center;
	margin:0 10px;
}
.portfolio-feedback-filter .select:hover, .portfolio-feedback-filter .select:focus, .portfolio-feedback-filter .select:active{
	cursor:pointer;
	opacity:0.8;
	color:white;
	background:grey;
	transition:0.4s;
}
.portfolio-feedback-filter #feedPick{
	
}
.portfolio-feedback-filter #feedOrder{
	
}
/* FEEDBACK 리스트 */
.portfolio-feedback-list{
	display:block;
	overflow-x:hidden;
	overflow-y:scroll;
	width:100%;
	height:calc(100% - 50px );
	background:white;
	padding:0px 10px;
}
.portfolio-feedback-item{
	width:100%;
	height:100%;
	margin:0 auto;
	margin-top:0;
	margin-bottom:10px;
	display:block;
	border-top:1px solid lightgrey;
	padding-top:10px;
}
/* 피드백 정보 */
.feedback-info{
	width:20%;
	height:100%;
	display:inline-block;
	float:left;
	padding:10px;
}
/* 피드백 작성자 프로필 */
.feedback-info .feedback-writer-profile{
	width:100%;
	height:100%;
	display:inline-block;
	text-align:center;
}
.feedback-info .feedback-writer-profile:hover{
	cursor:pointer;
	font-size:bold;
	opacity:0.7;
	transition:0.3s;
}
.feedback-writer-profile .feedback-writer-img{
	max-height:calc(80% - 50px);
	border-radius:50%;
}
.feedback-writer-profile .feedback-writer-nick{
	max-height:52px;
	overflow:hidden;
	display:block;
}
.feedback-writer-profile .activity-score{
	max-height:25px;
}
.feedback-writer-profile .feedback-writer-score{
	max-height:25px;
	display:inline-block;
}
.feedback-content{
	width:80%;
	height:80%;
	float:right;
	padding:10px;
}
.feedback-content .feedback-content-text{
	width:100%;
	height:100%;
	overflow-y:scroll;
	overflow-x:hidden;
}
.feedback-controller{
	height:18%;
	width:80%;
	display:inline-block;
	clear:both;
	bottom:0;
}
/* 피드백 추천 */
.feedback-controller .feedback-recommend{
	height:100%;
	text-align:center;
	display:inline-block;
	float:left;
	width:auto;
}
.feedback-recommend .icon-tail-fit{
	margin-left:10px;
	height:20px;
	text-align:center;
	padding:0;
	width:auto;
	float:left;
}
.feedback-recommend .feed-recom-icon{
	height:100%;
	float:left;
	margin-right:5px;
}
.feedback-recommend .feed-recom-tail{
	height:100%;
	display:inline-block;
	float:left;
}

.feedback-recommend .feedback-recommend-cnt{
	display:inline-block;
	text-align:center;
	height:100%;
	float:left;
	margin-left:20px;
}
.feedback-controller button{
	margin:0 10px;
	height:100%;
	float:right;
	line-height:normal;
}
.feedback-controller button:hover{
	opacity:0.7;
	transition:0.3s;
	border-radius:5%;
}
.feedback-controller .feedback-update{
	
}
.feedback-controller .feedback-delete{
	
}

/* 반응형 */
/* 세로 */
/* 세로가 작을 경우 메뉴바 사이드로 이동 */
@media screen and (min-height:990px){
	.portfolio-detail-activity{
		bottom:90px;
	}
}
@media screen and (max-height:900px){
	#portfolio-detail-wrap{
		z-index:107;
		height:calc(100% - 145px)!important;
		bottom:45px;
	}
	#portfolio-feedback-wrap{
		display:none!important;
	}
	.feed-show-btn{
		display:inline-block!important;
	}
}
@media screen and (min-height:740px){
	.portfolio-detail-activity{
		left:0!important;
		right:0!important;
	}
}
@media screen and (max-height:740px){
	.drag-activity-menu{
		display:block!important;
	}
	#portfolio-feedback-wrap{
		visibility:hidden;
	}
	.portfolio-detail-activity{
		height: auto;
	    padding: 48px 0;
	    max-height: 354px;
	    background-color: #5385c1;
	    position: fixed;
	    left: -119px;
	    width: 120px;
	    bottom:45px;
	    text-align: center;
	    border-radius: 0 10% 0 0;
	    border:1px solid darkgrey;
	    z-index:108;
	    display:none;
	}
	.icon-tail-fit{
		z-index:109;
	}
	.feed-show-btn{
		display:none!important;
	}
	.comment-show{
		visibility:visible;
	    bottom: 60px;
	    right: 32%;
	}
}
@media screen and (max-height:590px){
	
}
/* 가로 */
/* 작은 PC */
@media screen and (max-width: 1200px){
	.detail-summary-regidate{
		position:absolute;
		top:-24px;
		right:10px;
	}
	.feed-writer-profile-nick {
		font-size:17px;
	}
}
@media screen and (max-width: 1024px){
	.feed-writer-profile-nick {
		font-size:14px;
	}
}
/* 태블릿 */
@media screen and (max-width: 992px){
	.detail-summary-subject{
		margin:0;
		margin-left:10px;
		font-size:1.4em;
	}
	.summary-info{
		float:right;
		margin-right:10px;
	}
	.summary-info img{
		margin:0 5px;
	}
}
@media screen and (max-width: 880px){
	.feed-writer-profile-nick {
		font-size:12px;
	}
}
/* 모바일 */
@media screen and (max-width: 778px){
	#portfolio-detail-wrap {
   	 	width: 100%;
   	 	height:calc(70% - 100px);
   	 	top:100px;
   	 	right:0;
   	 	left:0;
	}
	#portfolio-info-wrap{
		visibility:hidden;
	}
	#portfolio-feedback-wrap{
		width:100%;
		height:30%;
		left:0;
		right:0;
		bottom:0;
	}
	.exit-modal{
		visibility:visible;
	}
	.comment-show{
		visibility:visible;
		bottom:46px!important;
		right:20px!important;
	}
	.feed-show-btn{
		display:none!important;
	}
	.summary-info img{
		margin:0 10px;
	}
	.drag-activity-menu{
	    bottom: 45px;
	    left: 1%;	
	}
}
/* 작은 모바일 */
@media screen and (max-width: 550px){
	.summary-info img{
		margin:0 4px;
		height:75%;
	}
	.summary-info img+span{
		font-size:17px;
		line-height:13px;
	}
	#portfolio-feedback-wrap{
		display:none;
	}
}
@media screen and (max-width: 500px){
	.detail-summary-subject{
		font-size:1.2em;
		float:left;
		width:100%;
		margin:0 auto;
		text-align:center;
	}
	.detail-summary-floater{
		display:none;
	}
	.summary-info{
		float:left;
		margin:0 auto;
		width:100%;
		text-align:center;
		padding-top:4px!important;
	}
	.summary-info>*{
		float:none!important;
	}
	.portfolio-detail-summary{
		text-align:center;
	}
	.detail-summary-regidate{
		top:47px;
	}
}